.menu-button {
    -fx-background-image: url("file:src/main/resources/image/bouton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

.menu-button:hover {
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
     -fx-cursor: hand;
}