.menu-button {
    -fx-background-color: linear-gradient(to bottom, #76b852, #8DC26F);
    -fx-background-radius: 20;
    -fx-border-color: #5A832F;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.0, 0, 1);
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to bottom, #89C540, #76b852);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}
.ContenuVBox{
    -fx-background-color: linear-gradient(to bottom, #76b852, #8DC26F);
    -fx-background-radius: 20;
}