.menu-button {
    -fx-background-color: linear-gradient(to right, #ff7f50, #ff6347);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to right, #ff6347, #ff7f50);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}